

.photo {
    /* visibility: hidden; */
   display: block;
   margin: auto;
   border-radius: 3px;
}

.fitImg {
    width: 400px;
    height: 300px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    display: block;
    margin: auto;
    object-fit: cover;
    border-radius: 30px;
    padding: 20px;
}

.eventsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    position: relative;
    right: -65px;
    text-align: center;
    top: 40px
}

.eventName {
    text-decoration: none;
    color: black
}