/* :root {
  --text: #39364F;
  --background: #ffffff;
  --shadow: black;
  --orange: olive;

  --purple: #000000;
  
} */

.modal {
  background-color: white ;
  width: 250px;
  padding: 25px;
  text-align: center;
  border-radius: 5px;
}

.modal > input {
  border: 1;
  border-radius: 3px;
  /* border-bottom: 2px black; */

  display: block;
  box-sizing: border-box;
  background-color: whitesmoke;

  width: 100%;
  margin: 15px 0px 20px 0px;
  padding: 10px;
  outline: 1;
}

.modal > input:focus {
  border-bottom-color: whitesmoke;
   border-radius: 3px;
  border-bottom: 2px solid var(--purple);
}

button {
  border: 1px solid white;
  border-radius: 3px;
  background-color: white;
  width: 100%;
  font-weight: 600;
  padding: .5em 1em;
 
  transition: background-color 500ms, border 500ms, color 500ms;
}

button:hover {
  background-color: black;
  border: 2px solid ;
  color:white;

}



 /* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap');

body {
  background-color: var(--background);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  color: var(--text);
}


/* APP CONTAINER */
.app-grid-container {
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  grid-template-rows: 70px 3fr 70px;
  grid-template-areas:
    '. nav .'
    '. body .'
    '. foot .';
  height: 100vh;
  width: 100vw;
} 


.nav{
  grid-area: nav;
  display: grid;
  grid-template-columns: 600px 1fr 200px;
  grid-template-rows: 1fr;
  grid-template-areas:
    'fixed links';
}

.body{
  grid-area: body;
  margin: 0px;
}

.footer{
  grid-area: foot;
  display: flex;
  justify-content: center;
  padding: 20px 0px 20px 0px;

}

/* NAV BAR */
.nav-bar-fixed {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*logo css */
.eventNite {
  width: 200px;
  margin-right: 250px;
}

.nav-link {
  text-decoration: none;
  color: black;
  border: 1px solid white;
  border-radius: 3px;
  background-color: white;
  width: 100%;
  font-weight: 500;
  padding: .5em 1em;
  transition: background-color 500ms, border 500ms, color 500ms;
  white-space: nowrap;
  
}
/* profile /logout links */
.nav-link:hover{
  background-color: black;
  border: 1px solid black;
  color: white;
}

.nav-bar-links {
  display: flex;
  flex-direction: flex-end;
  align-items: center;
  
} 












/* PROFILE PAGE */
/* .profile-grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
  grid-template-areas: 
  'profile-settings profile-events';
  width: 100%;
}

.profile-settings-container {
  grid-area: profile-settings;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin-top: 60px;
}

.profile-events-container {
  grid-area: profile-events;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-top: 20px;
}

.profile-image { 
  border-radius: 5px;
  margin: 0px;
  max-width: 90%;
}
 */


