/* TODO Add site wide styles */

.modal {
  background-color: var(--shadow);
  width: 250px;
  padding: 25px;
  text-align: center;
  border-radius: 5px;
}

.modal > input {
  border: 0;
  border-radius: 3px;
  border-bottom: 2px solid var(--purple);

  display: block;
  box-sizing: border-box;
  background-color: var(--background);

  width: 100%;
  margin: 15px 0px 20px 0px;
  padding: 10px;
  outline: 0;
}

.modal > input:focus {
  border-bottom-color: var(--orange);
}

button {
  border: 1px solid var(--purple);
  border-radius: 3px;

  background-color: var(--background);

  width: 100%;
  font-weight: 700;
  padding: .5em 1em;
  margin-top: 20px;
  transition: background-color 500ms, border 500ms, color 500ms;
}

button:hover {
  background-color: var(--orange);
  border: 2px solid white;
  color: white;
}

