.event-page-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  'event-header'
  'event-description';
  height: 80vh;
  width: 95%;
}

.event-header-container {
  /* grid-area: event-header; */
  display: flex;
  height: 300px;
}

.event-image-container {
  object-fit: cover;
  width: 100%;
}

.event-image {
  object-fit: cover;
  width: 50%;
  max-height: 100%;
  position: relative;
  left: 300px;
 
}

.event-header-details{
  position:relative ;
  right: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: beige;
  padding: 20px 10px 20px 40px;
  border-bottom: 5px solid black;
}

.event-register-button {
  display: flex;
  justify-content: center;
}

/* EVENT PAGE BOTTOM */

 .event-body-container{
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 1fr;
  grid-template-areas:
  'summary .';
  height: 100%;
  width: 100%;
  position: relative;
  left: 300px;
} 

/* .event-summary{
  padding: 0px 20px 10px 20px;
  color: red;
} */
/* 
.everything {
  justify-content: center;
  align-items: center;
  display: block;
  margin: auto;
} */

/* .min-margin{
  position: relative;
  left: 300px;
}  */