.event-page-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "event-header"
    "event-description";
  height: 80vh;
  width: 95%;
}
.event-header-container {
  /* grid-area: event-header; */
  display: flex;
  height: 300px;
}
.event-image-container {
  object-fit: cover;
  width: 100%;
  padding-top: 15px;
}
.event-image {
  object-fit: cover;
  width: 50%;
  max-height: 110%;
  position: relative;
  left: 250px;
  border-radius: 6px;
}
.event-header-details {
  position: relative;
  right: 265px;
  

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 2px 10px 20px 40px;
  /*  */

}
.event-register-button {
  display: flex;
  justify-content: center;
}
/* EVENT PAGE BOTTOM */
.event-body-container {
  height: 100%;
  width: 100%;
}
.butts {
  width: 60%;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 30px;
}
.bodytitle {
  width: 62%;
  margin: auto;

  padding-bottom: 15px;
  padding-top: 50px;
}
