.event-page-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  'event-header'
  'event-description';
  height: 80vh;
  width: 95%;
}

.event-header-container {
  /* grid-area: event-header; */
  display: flex;
  height: 300px;
}

.event-image-container {
  object-fit: cover;
  width: 100%;
  padding-top: 15px;
}

.event-image {
  object-fit: cover;
  width: 50%;
  max-height: 100%;
  position: relative;
  left: 285px;
 
}

.event-header-details{
  position:relative ;
  right: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 20px 10px 20px 40px;
padding-top: 15px;
border:2px dotted;
}

.event-register-button {
  display: flex;
  justify-content: center;
}

/* EVENT PAGE BOTTOM */

 .event-body-container{
  /* display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 1fr;
  grid-template-areas:
  'summary .'; */

  height: 100%;
  width: 100%;
 
} 


.butts{
  width: 60%;
  margin:auto;
  padding-bottom: 20px;
}

.bodytitle{
  width: 60%;
  margin: auto;
  text-decoration: underline;
padding-bottom: 15px;
padding-top: 15px;
font-weight:unset;
}