
/* 
.footer{
  grid-area: foot;
  display: flex;
  justify-content: center;
  padding: 20px 0px 20px 0px;

} */


.inputContainer {
    padding: 50px; 
	display: flex; 
   align-items: center;
   justify-content: center;
   flex-direction: column; 
   /* height: 50%; */
   text-align: center;
}

.inputForm {	
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
          0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  width: 500px;
  top: 2px;
  height: 450px;
  /* display: block; */
  margin: auto;
  /* margin-top: 100px; */
  text-align: center;
  /* background-color: black; */
  background-image: linear-gradient(315deg, #fafafa 0%, #ffffff 74%);
}
.input {
   background-color: #eee;
	border: none;
	border-radius: 6px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 300px;
  top:35px;
   
}

.h2 {
    position: relative;
    bottom: 50px;
}